<div class="container">
	<div class="row">
	  <div class="" ng-if="vm.issue">
	    my issue selected
	    <timer>{{minutes}} minutes and {{seconds}} seconds</timer>
	  </div>
	  <ul class="collection with-header">
		  <li class="collection-header">Activities</li>
		  <li class="collection-item" ng-repeat="issue in vm.issues">
			  <div>
				  {{issue.subject}}
				  <a ng-click="vm.startTime()"
					  class="secondary-content">
					  start
					  <!--<i class="material-icons">start</i>-->
				 
				  </a> 
				  <!--<a ng-click="vm.stopTime()"
					  class="secondary-content">
					  <i class="material-icons">stop</i>
				  </a>--> 
			  </div>
		  </li>

	  </ul>
	</div>

</div>
